<% provide(:title, "About") %>

<div class="nerd">
	<h2>About this site <small>(nerd stuff)</small></h2>
	<p>This site is built with <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>. I brushed up using the great <a href="https://www.railstutorial.org/" target="_blank">tutorial from Michael Hartl</a>.</p>
	<p>It pulls live data from my Strava feed via the <a href="http://strava.github.io/api/" target="_blank">Strava API</a>, using the <a href="https://github.com/jaredholdcroft/strava-api-v3" target="_blank">strava-api-v3 ruby gem</a>.</p>
	<p>Maps are generated using the <a href="https://developers.google.com/maps/documentation/staticmaps/" target="_blank">Google Maps Static API</a>.</p>
	<p>The code is hosted on a hobby dyno on <a href="https://heroku.com/" target="_blank">Heroku</a>.</p>
	<p>The code for this site is all open source, and can be found on <a href="https://github.com/shawno/bikecanada" target="_blank">Github</a>. If you would like to use the code to create your own Strava powered blog feel free to <a href="http://www.shawno.ca">get in touch</a>.</p>
	<p>Thanks to anyone who contributed to any of the above projects, I appreciate it.</p>
</div>