<% provide(:title, "About") %>

<h1>About</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>

<h2>About me</h2>

<h2>What - About the trip</h2>

<p>Why - bike across canada?</p>

<h2>Where - The route</h2>

<h2>When - The timeline</h2>

<h2>Who else - The group</h2>
<h3>Paul Collett</h3>
<h3>Simon Silk</h3>
<h3>Rich Keough</h3>

<h2>About this site</h2>
<p>How it's made</p>
<p>where it's hosted</p>