<% provide(:title, "Gear") %>

<h1>Gear</h1>
<p>Find me in app/views/static_pages/gear.html.erb</p>

<h2>The Bike</h2>
<table>
	<tr>
		<td>Frame</td>
		<td>2015 MEC National Disc</td>
	</tr>
	<tr>
		<td>...</td>
		<td>...</td>
	</tr>
</table>

<h2>Camping Gear</h2>
<table>
	<tr>
		<td>Tent</td>
		<td>MEC Spark 2</td>
	</tr>
	<tr>
		<td>...</td>
		<td>...</td>
	</tr>
</table>

<h2>Clothing</h2>

<h2>Tools</h2>
