img{
	max-width: 100%;
}

header{
	background: #444;
	padding: 0.3em 0;
	
	a{
		color: $gray-lighter;
		&:hover, &:active, &:focus, .selected{
			color:red;
			text-decoration: none;
		}	
	}
	
	.logo{
		float:left;
		text-align: center;
		img{
			width:4em;	
		}
		span{
			display: block;
		}
	}

	nav{
		float: left;
		padding-left:1em;
		width: calc(100% - 6.5em);
		height: 77px;
		ul{
			display: flex;
			align-items:flex-end;
			height: 100%;
			margin:0;
			padding:0;

			li{
				list-style: none;
				padding: 0 0.5em;
				font-size: 1.2em;
				&:last-child{
					padding-right:0;
				}
			}
		}
	}
}