img{
	max-width: 100%;
}

header{
	background: $gray-dark;
	
	a{
		color: $gray-lighter;
		&:hover, &:active, &:focus, .selected{
			color:red;
			text-decoration: none;
		}	
	}
	
	.logo{
		float:left;
		text-align: center;
		img{
			width:4em;	
		}
		span{
			display: block;
		}
	}

	nav{
		float:right;
		ul{
			display: flex;
			justify-content:flex-end;
			margin:0;
			padding:0;

			li{
				list-style: none;
				padding: 0.5em;
				font-size: 1.5em;
			}
		}
	}
}