img{
	max-width: 100%;
}

p{
	max-width: 50em;
}

.nerd{
	font-family: $font-family-monospace;
	border: 15px inset #ccc;
	padding: 1em;
	color: #09D009;
	background: black;
	margin-bottom: 2em;
	a:hover, a:active, a:focus{
		color:#fff;
	}
}

header, footer{
	background: #444;
	padding: 0.3em 0;
	color: $gray-lighter;
	a{
		color: $gray-lighter;
		&:hover, &:active, &:focus, .selected{
			color:red;
			text-decoration: none;
		}	
	}
}

header{
	.logo{
		float:left;
		text-align: center;
		img{
			width:4em;	
		}
		span{
			display: block;
		}
	}

	nav{
		float: right;
		padding-left:1em;
		width: calc(100% - 6.5em);
		height: 77px;
		ul{
			display: flex;
			justify-content:flex-end;
			align-items:flex-end;
			height: 100%;
			margin:0;
			padding:0;

			li{
				list-style: none;
				padding: 0 0.5em;
				font-size: 1.2em;
				&:last-child{
					padding-right:0;
				}
				a{
					text-decoration: underline;
				}
			}
		}
		@media (min-width: 500px) {
			ul{
				justify-content:flex-start;
			}
		}
	}
}

/**
 * Sticky Footer
 * From http://css-tricks.com/snippets/css/sticky-footer/
 */
$footer-height: 4em;

html, body{
	height: 100%;
}

.page-content{
	min-height: 100%;
	margin-bottom: (-1 * ($footer-height));

	&:after{
		content:"";
		display: block;
	};
}

.page-content:after{
	height: $footer-height;
}

footer{
	height: $footer-height;
	a, a:hover, a:active, a:focus{
		text-decoration: underline;
	}
	.container{
		padding-top:1em;
	}
}
