.ride-list{
	list-style: none;
	margin: 0;
	padding:0;
	padding-bottom:3em;
}

.ride-list-item{
	border-bottom: 1px solid $gray-lighter;
	margin:1em 0;
	background: #eee;
	max-width: 50em;

	&:last-child{
		border-bottom: none;
	};
	h2{
		font-weight:bold;
	}
}

.ride-description{
	white-space: pre-wrap;
}

