<footer>
	<div class="container">
		Built by 
		<%= link_to "Shawn O'Neill", 'http://www.shawno.ca/'%>. 
		Follow along on 
		<%= link_to 'Strava', 'https://www.strava.com/athletes/436112'%> 
		and 
		<%= link_to 'Instagram', 'https://instagram.com/shawno.ca/'%>. 
	</div>
</footer>