<footer>
	<div class="container">
		<small>Powered by 
			<%= link_to 'Strava', 'http://strava.github.io/api/', :target => '_blank' %> 
			and 
			<%= link_to 'Google Maps', 'https://developers.google.com/maps/documentation/staticmaps/', :target => '_blank' %>
		</small>
	</div>
</footer>