<header>
  <div class="container">
    <%= link_to root_path, class: 'logo' do %>
      <%= image_tag('logo144.png', :alt => 'Bike Canada Logo') %>
      <span>Bike Canada</span>
    <% end %>
    <nav>
      <ul>
        <li>Follow along on 
        <%= link_to 'Strava', 'https://www.strava.com/athletes/436112'%> 
        and 
        <%= link_to 'Instagram', 'https://instagram.com/shawno.ca/'%>.
        </li>
      </ul>
    </nav>
  </div>
</header>